
@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply rounded-xl overflow-hidden shadow-md relative hover:shadow-xl transform hover:scale-105 cursor-pointer transition ease-out duration-300 bg-gray-600/60 md:border md:border-gray-300/30;
}

.badge{
    @apply bg-gray-100 text-gray-900 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-1 mt-2 font-sans transform scale-75 md:scale-90 opacity-75;
}

.btn{
    @apply rounded-full py-1 md:py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.active{
    @apply border-r-4 border-green-300 bg-gray-800/70 font-bold text-green-200  animate-bounce ;
}

.menu-tag{
    @apply transition ease-out duration-500 hover:bg-gray-300 md:hover:bg-gray-500/70 md:mb-2;
}

.font-style{
    font-family: "Lobster", sans-serif;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }

  ::-webkit-scrollbar

  ::-webkit-scrollbar-track {
    background: transparent; /* Couleur de la piste de la barre de défilement */
  }

  ::-webkit-scrollbar-thumb {
    background: #96faf59f;/* Couleur du pouce de la barre de défilement */
}